body{
  background-color: #1F6E8C;
}
.task-manager{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.tasks{
  width: 400px;
  border: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task{
  background-color: #DDE6ED;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.task.completed{
  opacity: 0.5;
}
.task span.content{
  flex-grow: 1;
}
.task input.edit-input{
  flex-grow: 1;
}
button{
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.edit{
  background-color: #27374D;
}
.delete{
  background-color: #B70404;
}
.save{
  background-color: #9336B4;
}
.add-task-container > button{
  background-color: #0A4D68;
}
input{
  border: 1px solid #5C8984;
  border-radius: 5px;
  padding: 8px 12px
}
.add-task-container{
  width: 440px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.add-task-container input{
  flex-grow: 1;
}